
extends header.pug


block header
  -var buttonLink='/new_address'
  -var buttonText='+Add address'
  -var button2Link='/view_text'
  -var button2Text='View Addresses as Text'
  
  

block content
  
  div.addresslist(id="addresslist")
    each val in addresses
       
      div.address(id=val.id)
        div=val.address.addressLineOne
        div=val.address.unitNo
        div=val.address.city +', ' + val.address.state + ' ' + val.address.zip
        div(style="display: none;")=val.address.notes
        div=val.address.formattedStart + ' to ' + val.address.formattedEnd
        a(class='delete') Delete
        a(class='edit') Edit
        
        br
        br
      
  #dispbox
      h1(id='detailboxheading')=''
      
      textarea(id='addressnotes' cols="83" rows="25" readonly)
block scripts
  script(src="/scripts/address-script.js")
  